<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Multiple_Choice_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Multiple_Choice_Generator.Properties.Settings.it154551ConnectionString" connectionString="server=dblabs.it.teithe.gr;user id=it154551;password=123456;database=it154551" providerName="MySql.Data.MySqlClient" />
        <add name="Multiple_Choice_Generator.Properties.Settings.multipleConnectionString" connectionString="server=localhost;user id=root;database=multiple" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Multiple_Choice_Generator.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="Filters" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="ButtonColor1" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="ButtonColor2" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Multiple_Choice_Generator.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.32.3057.0" newVersion="1.32.3057.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
